.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightslategrey;
  color: white;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-inline-start: 0
}

input {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 50%;
  margin: 20px;
}

.logout {
  text-align: right;
  margin: 10px;
}

.thishomepage {
  object-fit: cover;
  display: flex;
  height: 900px;
  width: -webkit-fill-available;
}

.productImg{
  height:100px;
  width:100px;
}

